{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  </head>
  <body>
    <div class="container" style="padding: 1rem 0;">
      <form action="/send-message" method="get">
        {% csrf_token %}
        <div class="form-group">
          <label for="message">Введите сообщение</label>
          <textarea class="form-control" name="message" id="message" rows="3"></textarea>
        </div>

        <input type="hidden" name="user_id" value="{{ user_id }}">

        <button type="submit" class="btn btn-primary" style="margin-top: 1rem;">Send</button>
      </form>
    </div>
  </body>
</html>
